* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body { 
  font-family: Roboto;
  background: #E5E5E5;
}

.general-container {
  width: 100%;
  max-width: 1440px;
  background-color: #FDFBED;
  margin: 0 auto; /*щоб контент сайту був посередині*/ 
}

/*HEADER----------------------------------------------------------------------------------------------------------------HEADER*/ 
.header {
  width: 100%;
  max-width: 1440px;
  background-color: #526E3E;
  padding: 0;
  overflow: hidden; 
}

.header-nav {
  justify-content: space-between; /*прижимает содержимое к краям */
  margin-left: 45px;
  margin-top: 30px;
  padding-bottom: 13px;
  width: 304px;
  overflow: hidden;
  }

.header-nav a {
  text-decoration: none; /*прибираємо підкреслювання посилань*/ 
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.20999999344348907px;
  text-align: left;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  border: 1px solid transparent; 
}

.header a:hover {
  border-radius: 2px;
  background-color: #EDDBBE;
  color: black;
  border: 1px solid black; 
  text-shadow: 0 0 .25px #333, 0 0 .25px #333;
}

/*MAIN----------------------------------------------------------------------------------------------------------------MAIN*/
/*MAIN, частина main-block-------------------------------------------------------------------MAIN, частина main-block*/
.main__main-block {
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
}

.main-block__background { 
  width: 100%;
  max-width: 1440px;
  padding-top: 254px;
  padding-bottom: 80px;
  background-image: url(../images/Main.png);
  background-repeat: no-repeat; /*обовязково вказувати*/ 
  background-size: contain; /*рекомендовано завжди вказувати*/ 
  overflow: hidden;
}

.main-block__logo {
  width: 418px;
  margin-left: 511px;

}.main-block__title {
  width: 813px;
  margin-top: 118px;
  margin-left: 324px;
  overflow: hidden;
}
.main-block__title__second {
  font-family: Roboto;
  font-size: 57px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: center;  
  color: #FFFFFF;
}

/*MAIN, частина product-------------------------------------------------------------------MAIN, частина product*/ 
.main__product {
  width: 100%;
  max-width: 1440px;
  padding-top: 98px;
  padding-bottom: 98px;
  background: #FFFFFF;
  overflow: hidden;
}

.product__title { /*переглянути розміри*/ 
  margin-bottom: 44px;
  overflow: hidden;
}

.product__title_third {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: #526E3E;
  text-align: center; 
}

.product__card { /*контейнер з картками*/ 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.product__card_article { /*карточка*/ 
  padding-right: 1px;
  padding-left: 1px;
  overflow: hidden;
}

.product__card_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0.25999999046325684px;
  text-align: center;
  color: #526E3E;
}

.product__card_button {
  background-color: #FDFBED;
  height: 34px; 
  width: 335px;
  cursor: pointer;
  border: 1px solid transparent;
}

.product__card_button:hover { /*згідно макету - при натисканні кнопка картки підсвічується*/ 
  box-shadow: -2px 10px 16px 0px rgb(201, 200, 200); 
} 

.product__button {
  width: 180px;
  background-color: #FFFFFF;
  color: #526E3E;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #526E3E;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 34px;
  margin-left: 630px;
}

.product__button:hover {
  background-color: #FDFBED;
  color: black;
}

/*MAIN, частина picture1---------------------------------------------------------------------------MAIN, частина picture1*/ 
.main__picture1 {
  background-image: url(../images/title.png);
  background-repeat: no-repeat; /*обовязково вказувати*/ 
  background-size: contain; /*рекомендовано завжди вказувати*/ 
  padding-top: 102px;
  padding-bottom: 102px;
  overflow: hidden;
}

.picture1__title_first {
  font-size: 110px;
  font-weight: 400;
  line-height: 166px;
  text-align: center;
  color: #FDFBED;
}

/*MAIN, частина description-pack--------------------------------------------------------------------MAIN, частина description-pack*/
.main__description-pack { 
  display: flex;
  padding-top: 85px;
  background: #FFFFFF;
  overflow: hidden;
}

.description-pack__block-text {
  width: 530px;
  margin-top: 45px;
  margin-bottom: 100px;
  padding-left: 130px;
  overflow: hidden;
}

.description-pack__title_third {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.4300000071525574px;
  text-align: left;
  color: #526E3E;
  margin-top: 47px;
}

.description-pack__paragraph {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #526E3E;
  margin-top: 23px;
}

/*MAIN, частина description-toothpaste-------------------------------------------------------------------MAIN, частина description-toothpaste*/
.main__description-toothpaste { 
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  overflow: hidden;
}

.description-toothpaste__block-text {
  width: 400px;
  margin-top: 160px;
  margin-left: 210px;
  margin-bottom: 162px;
  overflow: hidden;
}

.description-toothpaste__title_third {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.4300000071525574px;
  text-align: left;
  color: #526E3E;
  margin-top: 47px;
}

.description-toothpaste__paragraph {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #526E3E;
  margin-top: 23px;
}

/*MAIN, частина description-healthy--------------------------------------------------------------------MAIN, частина description-healthy*/
.main__description-healthy { 
  display: flex;
  background: #FFFFFF;
  overflow: hidden;
}

.description-healthy__block-text {
  width: 530px;
  margin-top: 130px;
  margin-bottom: 102px;
  padding-left: 130px;
  overflow: hidden;
}

.description-healthy__title_third {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.4300000071525574px;
  text-align: left;
  color: #526E3E;
  margin-top: 47px;
}

.description-healthy__paragraph {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #526E3E;
  margin-top: 23px;
}

/*MAIN, частина our-principles--------------------------------------------------------------------MAIN, частина our-principles*/
.main__our-principles {
  width: 100%;
  max-width: 1440px;
  background: #FFFFFF;
  overflow: hidden;
}

.main__our-principles_content { 
  background: #FFFFFF;
  margin-top: 90px;
  margin-right: 209px;
  margin-bottom: 75px;
  margin-left: 209px;
  padding-right: 30px;
  padding-left: 30px;
  overflow: hidden;
}

.our-principles__title_third {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #526E3E;
}

.our-principles__block-cards {
  display: flex;
  justify-content: start;
  width: 962px;
  padding-right: 78px;
  padding-left: 79px;
  padding-bottom: 20px;
  margin-top: 46px;
  overflow: hidden;
}

.our-principles__card_article {
  width: 115px;
  overflow: hidden;
}

.our-principles__card_border-img {
  height: 60px;
  margin-top: 10px;
  margin-bottom: 17px;
  padding-left: 29px;
}

.our-principles__card_title {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #526E3E;
}

/*MAIN, частина shop-products---------------------------------------------------------------------------MAIN, частина shop-products*/ 
.main__shop-products {
  width: 100%;
  max-width: 1440px;
  background-image: url(../images/shop-products.png);
  background-repeat: no-repeat; /*обовязково вказувати*/ 
  background-size: contain; /*рекомендовано завжди вказувати*/ 
  padding-top: 200px;
  padding-right: 748px;
  padding-bottom: 182px;
  padding-left: 116px;
  overflow: hidden;
}

.shop-products__title_border {
  overflow: hidden;
}

.shop-products__title_second {
  font-size: 96px;
  font-weight: 700;
  line-height: 100px;
  text-align: left;
  color: #526E3E;
}

.shop-products__button {
  width: 180px;
  background-color: #EDDBBE;
  color: #526E3E;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #526E3E;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 186px;
  margin-left: 24px;
}

.shop-products__button:hover {
  background-color: #FDFBED;
  color: black;
}

/*MAIN, частина reviews---------------------------------------------------------------------------MAIN, частина reviews*/ 
.main__reviews {
  width: 100%;
  max-width: 1440px;
  padding-right: 37px;
  padding-left: 37px;
  background: #FFFFFF;
  overflow: hidden;
}

.main__reviews_content {
  display: flex;
  justify-content: space-between;
  padding-top: 136px;
  padding-right: 123px;
  padding-bottom: 137px;
  padding-left: 165px;
  overflow: hidden;
}

.reviews_content-article {
  width: 290px;
  overflow: hidden;
}

.reviews_content-article_star {
  width: 136px;
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.reviews_content-article-border {
  margin-top: 16px;
  margin-right: 4px;
  margin-left: 4px;
  overflow: hidden;
}

.reviews_content-article-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #526E3E;
}

/*MAIN, частина picture2---------------------------------------------------------------------------MAIN, частина picture2*/ 
.main__picture2 {
  width: 100%;
  max-width: 1440px;
  background-image: url(../images/picture2.png);
  background-repeat: no-repeat; /*обовязково вказувати*/ 
  background-size: contain; /*рекомендовано завжди вказувати*/ 
  padding-top: 512px;
  padding-bottom: 487px;
  overflow: hidden;
}

.main__picture2__content {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.picture2__title-border {
  margin-bottom: 15px;
}

.picture2__title_third {
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}

.picture2__paragraph {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

  /*FOOTER------------------------------------------------------------------------------------------------------------------------------FOOTER*/ 
  .footer {
    width: 100%;
    max-width: 1440px;
    padding-right: 37px;
    padding-left: 37px;
    background: #526E3E;
    overflow: hidden;
  }

  .footer__content {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 158px;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
  }

  .footer__сopyright {
    width: 201px;
    padding-top: 8px;
    padding-bottom: 9px;
    overflow: hidden;
  }

  .footer_title {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #EDDBBE;
  }

  .footer__nav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .footer__conditions {
    display: flex;
    justify-content: space-between;
    width: 444px;
    overflow: hidden;
  }

  .footer__social-media {
    display: flex;
    justify-content: space-between;
    width: 47px;
    padding-top: 8px;
    margin-left: 68px;
    overflow: hidden;
  }

  .footer__conditions a {
    text-decoration: none; /*прибираємо підкреслювання посилань*/ 
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #EDDBBE;
    cursor: pointer;
    border: 1px solid transparent; 
  }
  
  .footer__conditions a:hover {
    border-radius: 2px;
    background-color:#EDDBBE;
    color: black;
    border: 1px solid black; 
    text-shadow: 0 0 .25px #333, 0 0 .25px #333;
  }

  .footer__form {
    justify-content: space-between;
    overflow: hidden;
  }

  .footer__form_input {
    width: 242px;
    height: 32px;
    border: 1px solid #EDDBBE;
    border-radius: 0px;
    background: #526E3E;
    color: #EDDBBE;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    padding-left: 13px;
  }

  .footer__form input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #EDDBBE;
    border-radius: 0px;
  } 

  .footer-button {
    width: 42px;
    height: 32px;
    background-color: #EDDBBE;
    color: #EEDBBF;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid #526E3E;
    
  }
  
  .footer-button:hover {
    border: 1px solid black;
    text-shadow: 0 0 .25px #333, 0 0 .25px #333;
  }



/*МЕДІА-ЗАПИТИ----------МЕДІА-ЗАПИТИ------------МЕДІА-ЗАПИТИ-----------МЕДІА-ЗАПИТИ-------------МЕДІА-ЗАПИТИ-------------------МЕДІА-ЗАПИТИ--------------*/ 

/*1440--------------------------------------------------------------------------------------------------------------------------1440px*/ 
@media (max-width: 1439px) {
  .general-container {
    max-width: 1199px;
  }

  /*MAIN, частина product-------------------------------------------------------------------MAIN, частина product*/ 
  .main__product {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .product__card { /*контейнер з картками*/ 
    justify-content: space-around; 
  }
  .product__title {  
    margin-bottom: 20px;
  }
  .product__button {
    margin-left: 510px;
  }

  /*MAIN, частина description-pack---------------------------------------------------------MAIN, частина description-pack*/ 
  .description-pack__block-text {
    width: 450px;
    padding-left: 30px;
  }

  /*MAIN, частина description-toothpaste----------------------------------------------------MAIN, частина description-toothpaste*/
  .description-toothpaste__block-text {
    width: 400px;
    margin-top: auto;
    margin-left: 60px;
    margin-bottom: auto;
  }

  /*MAIN, частина description-healthy--------------------------------------------------------MAIN, частина description-healthy*/ 
  .description-healthy__block-text {
    width: 450px;
    padding-left: 30px;
  }

  /*MAIN, частина our-principles--------------------------------------------------------------MAIN, частина our-principles*/
  .main__our-principles_content { 
    padding-right: 0px;
    padding-left: 0px;
  }
  .our-principles__block-cards {
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  /*MAIN, частина reviews--------------------------------------------------------------------MAIN, частина reviews*/
  .main__reviews_content {
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 80px;
    padding-left: 20px;
  }

  /*MAIN, частина picture2---------------------------------------------------------------------------MAIN, частина picture2*/ 
  .main__picture2 {
    background-size: cover; /*рекомендовано завжди вказувати*/ 
    padding-top: 412px;
    padding-bottom: 387px;
  }

  /*MAIN, частина shop-products---------------------------------------------------------------------------MAIN, частина shop-products*/ 
  .main__shop-products {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover; 
  }
  /*FOOTER-----------------------------------------------------------------------------------------------------------------------------------------------FOOTER*/ 
  .footer__content {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
  }

} 

/*1200-----------------------------------------------------------------------------------------------------------------------------1200px*/ 
@media (max-width: 1200px) {
  .general-container {
    max-width: 997px;
  }
  
  /*MAIN, частина product---------------------------------------------------------------------MAIN, частина product*/
  .product__button {
    margin-left: 410px;
  }

  /*MAIN, частина description-pack------------------------------------------------------------MAIN, частина description-pack*/ 
  .main__description-pack { 
    flex-wrap: wrap;
    padding-top: 0px;
  }
  .description-pack__block-img {
    margin-left: auto;
    margin-right: auto;
  }
  .description-pack__block-text {
    width: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-left: 0px;
  }
  .img-tube {
    margin-left: 400px;
  }
  .description-pack__title_third {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.4300000071525574px;
    text-align: center;
    margin-top: 0px;
  }
  .description-pack__paragraph {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    margin-top: 10px;
  }
  
  /*MAIN, частина description-toothpaste----------------------------------------------------------MAIN, частина description-toothpaste*/ 
  .main__description-toothpaste { 
    flex-wrap: wrap-reverse;
  }
  .description-toothpaste__block-img {
    margin-left: auto;
    margin-right: auto;
  }
  .description-toothpaste__block-text {
    width: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-left: 0px;
  }
  .img-flower {
    margin-left: 430px;
  }
  .description-toothpaste__title_third {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.4300000071525574px;
    text-align: center;
    margin-top: 0px;
  }
  .description-toothpaste__paragraph {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    margin-top: 10px;
  }

  /*MAIN, частина description-healthy---------------------------------------------------------MAIN, частина description-healthy*/ 
  .main__description-healthy { 
    flex-wrap: wrap;
  }
  .description-healthy__block-img {
    margin-left: auto;
    margin-right: auto;
  }
  .description-healthy__block-text {
    width: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-left: 0px;
  }
  .img-sprout {
    margin-left: 320px;
  }
  .description-healthy__title_third {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.4300000071525574px;
    text-align: center;
    margin-top: 0px;
  }
  .description-healthy__paragraph {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    margin-top: 10px;
  }

  /*MAIN, частина our-principles--------------------------------------------------------------------MAIN, частина our-principles*/
  .main__our-principles_content { 
    margin-top: 20px;
    margin-right: auto; 
    margin-bottom: 30px;
    margin-left: 30px; 
  }
  .our-principles__block-cards {
    width: 805px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .our-principles__title_third {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
  }
  .our-principles__card_border-img {
    height: 54px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 32px;
  }
  .our-principles__card_img {
    width: 42px;
  }
  .our-principles__card_title {
    font-size: 10px;
    font-weight: 250;
    line-height: 16px;
  }

  /*MAIN, частина reviews--------------------------------------------------------------------MAIN, частина reviews*/
  .main__reviews_content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .reviews_content-article-border {
    margin-top: 6px;
  }

  /*MAIN, частина picture2---------------------------------------------------------------------------MAIN, частина picture2*/ 
  .main__picture2 {
    background-size: cover; /*рекомендовано завжди вказувати*/ 
    padding-top: 312px;
    padding-bottom: 287px;
  }

  /*FOOTER-----------------------------------------------------------------------------------------------------------------------------------------------FOOTER*/ 
  .footer {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer__content {
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
  }
  .footer_title {
    font-size: 10px;
    font-weight: 300;
    }
  .footer__conditions {
    width: 400px;
  }
  .footer__social-media {
    margin-left: 20px;
  }
  .footer__form_input {
    font-size: 10px;
    font-weight: 300;
    line-height: 30px;
  }
  .footer__form input::placeholder {
    font-size: 10px;
    font-weight: 300;
    line-height: 30px;
  } 

} 

/*998-----------------------------------------------------------------------------------------------------------------------------------------998px*/ 
@media (max-width: 998px) {
  .general-container {
    max-width: 767px;
  }
  /*MAIN, частина product-------------------------------------------------------------------MAIN, частина product*/
  .main__product {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .product__title {  
    margin-bottom: 10px;
  }
  .product__title__second {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px; 
  }
  .product__card_title {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
  .product__button {
    margin-left: 300px;
  }

  /*MAIN, частина description-pack---------------------------------------------------------MAIN, частина description-pack*/ 
  .description-pack__block-text {
    margin-left: 33px;
    width: 700px;
  }
  .img-tube {
    margin-left: 330px;
  }
  .description-pack__title_third {
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
  }
  .description-pack__paragraph {
    font-size: 10px;
    font-weight: 250;
    line-height: 16px;
    margin-top: 6px;
  }
  
  /*MAIN, частина description-toothpaste--------------------------------------------------MAIN, частина description-toothpaste*/ 
  .description-toothpaste__block-text {
    margin-left: 33px;
    width: 700px;
  }
  .img-flower {
    margin-left: 340px;
  }
  .description-toothpaste__title_third {
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
  }
  .description-toothpaste__paragraph {
    font-size: 10px;
    font-weight: 250;
    line-height: 16px;
    margin-top: 6px;
  }

  /*MAIN, частина description-healthy---------------------------------------------------------MAIN, частина description-healthy*/ 
  .description-healthy__block-text {
    margin-left: 33px;
    width: 700px;
  }
  .img-sprout {
    margin-left: 330px;
  }
  .description-healthy__title_third {
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
  }
  .description-healthy__paragraph {
    font-size: 10px;
    font-weight: 250;
    line-height: 16px;
    margin-top: 6px;
  }

  /*MAIN, частина our-principles--------------------------------------------------------------------MAIN, частина our-principles*/
  .main__our-principles_content { 
    margin-bottom: 20px;
    margin-left: 24px; 
  }
  .our-principles__block-cards {
    width: auto;
  }
  .our-principles__title_third {
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
  }
  .our-principles__card_article {
    width: 100px;
  }  

  /*MAIN, частина reviews--------------------------------------------------------------------MAIN, частина reviews*/
  .reviews_content-article_star {
    width: 80px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .img-star {
    width: 10px;
  }
  .reviews_content-article-text {
    font-size: 10px;
    font-weight: 250;
    line-height: 16px;
  }

  /*MAIN, частина picture2---------------------------------------------------------------------------MAIN, частина picture2*/ 
  .main__picture2 {
    background-size: cover; /*рекомендовано завжди вказувати*/ 
    padding-top: 212px;
    padding-bottom: 187px;
  }
  .picture2__title_second {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
  }
  .picture2__paragraph {
    font-size: 10px;
    font-weight: 250;
    line-height: 16px; 
  }

/*FOOTER-----------------------------------------------------------------------------------------------------------------------------------------------FOOTER*/ 
  .footer__content {
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
  }

}
  
  /*768----------------------------------------------------------------------------------------------------------------------------------768px*/ 
@media (max-width: 768px) {
  .general-container {
    max-width: 575px;
  } 
  /*MAIN, частина product-------------------------------------------------------------------MAIN, частина product*/ 
  .product__title {  
    margin-bottom: 2px;
  }
  .product__card {
    margin-right: 4px;
    margin-left: 4px;
  }
  .product__card_img {
    height: 341px;
    width: 270px;
  }
  .product__card_button {
    width: 270px;
  }
  .product__title__second {
    font-size: 20px;
    font-weight: 300;
    line-height: 22px; 
  }
  .product__card_title {
    font-size: 10px;
    font-weight: 300;
    line-height: 22px;
  }
  .product__button {
    margin-top: 20px;
    margin-left: 200px;
  }

  /*MAIN, частина description-pack---------------------------------------------------------MAIN, частина description-pack*/ 
  .img-description-pack {
    height: 397px;
    width: 520px;
  }
  .description-pack__block-text {
    margin-right: 30px;
  }
  .img-tube {
    width: 13px;
    margin-left: 260px;
  }

  /*MAIN, частина description-toothpaste---------------------------------------------------------MAIN, частина description-toothpaste*/ 
  .img-description-toothpaste {
    height: 420px;
    width: 520px;
  }
  .description-toothpaste__block-text {
    margin-right: 30px;
  }
  .img-flower {
    width: 30px;
    margin-left: 250px;
  }

  /*MAIN, частина description-healthy---------------------------------------------------------MAIN, частина description-healthy*/ 
  .img-description-healthy {
    height: 420px;
    width: 520px;
  }
  .description-healthy__block-text {
    margin-right: 30px;
  }
  .img-sprout {
    width: 30px;
    margin-left: 260px;
  }

  /*MAIN, частина our-principles--------------------------------------------------------------------MAIN, частина our-principles*/
  .main__our-principles_content { 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px; 
  }
  .our-principles__block-cards {
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4px;
  }
  .our-principles__card_article {
    width: 65px;
  }
  .our-principles__card_border-img {
    height: 46px;
    margin-top: 0px;
    margin-bottom: 4px;
    padding-left: 10px;
  }
  .our-principles__card_img {
    width: 36px;
  }

  /*MAIN, частина reviews--------------------------------------------------------------------MAIN, частина reviews*/
  .main__reviews {
    padding-right: 10px;
    padding-left: 10px;
  }
  .main__reviews_content {
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
  }
  .reviews_content-article {
    width: 160px;
  }
  .reviews_content-article_star {
    width: 80px;
  }

  /*MAIN, частина picture2---------------------------------------------------------------------------MAIN, частина picture2*/ 
  .main__picture2 {
    background-size: cover; /*рекомендовано завжди вказувати*/ 
    padding-top: 150px;
    padding-bottom: 70px;
  }
  .picture2__title_second {
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
  }
  .picture2__paragraph {
    font-size: 10px;
    font-weight: 250;
    line-height: 16px; 
  }

  /*FOOTER-----------------------------------------------------------------------------------------------------------------------------------------------FOOTER*/ 
  .footer__content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer__сopyright {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer_title {
    font-size: 8px;
    font-weight: 200;
    }
  .footer__nav {
    flex-wrap: wrap;
    justify-content: center; 
    padding-bottom: 10px;
  }
  .footer__conditions {
    width: 500px;
    justify-content: space-around;
  }
  .footer__conditions a {
    text-decoration: none; /*прибираємо підкреслювання посилань*/ 
    font-size: 10px;
    font-weight: 300;
    line-height: 24px;
  }
  .footer__social-media {
    margin-left: 0px;
  }

} 

/*576----------------------------------------------------------------------------------------------------------------------------------576px*/ 
@media (max-width: 576px) {
  .general-container {
    max-width: 320px;
  }
  /*MAIN, частина product-------------------------------------------------------------------MAIN, частина product*/ 
  .product__title {  
    margin-bottom: 0px;
  }
  .product__card {
    margin-right: 0px;
    margin-left: 0px;
  }
  .product__card_img {
    height: 320px;
    width: 250px;
  }
  .product__card_button {
    width: 250px;
  }
  .product__title__second {
    font-size: 12px;
    font-weight: 100;
    line-height: 12px; 
  }
  .product__card_title {
    font-size: 10px;
    font-weight: 100;
    line-height: 12px;
  }
  .product__button {
    margin-top: 10px;
    margin-left: 70px;
  }

  /*MAIN, частина description-pack---------------------------------------------------------MAIN, частина description-pack*/ 
  .img-description-pack {
    height: 220px;
    width: 310px;
  }
  .description-pack__block-text {
    margin-right: 5px;
    margin-left: 5px;
  }
  .img-tube {
    width: 7px;
    margin-left: 130px;
  }
  .description-pack__title_third {
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
  }
  .description-pack__paragraph {
    font-size: 10px;
    font-weight: 200;
    line-height: 14px;
    margin-top: 2px;
  }

  /*MAIN, частина description-toothpaste---------------------------------------------------------MAIN, частина description-toothpaste*/ 
  .img-description-toothpaste {
    height: 250px;
    width: 310px;
  }
  .description-toothpaste__block-text {
    margin-right: 5px;
    margin-left: 5px;
  }
  .img-flower {
    width: 15px;
    margin-left: 130px;
  }
  .description-toothpaste__title_third {
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
  }
  .description-toothpaste__paragraph {
    font-size: 10px;
    font-weight: 200;
    line-height: 14px;
    margin-top: 2px;
  }

  /*MAIN, частина description-healthy---------------------------------------------------------MAIN, частина description-healthy*/ 
  .img-description-healthy {
    height: 250px;
    width: 310px;
  }
  .description-healthy__block-text {
    margin-right: 5px;
    margin-left: 5px;
  }
  .img-sprout {
    width: 15px;
    margin-left: 130px;
  }
  .description-healthy__title_third {
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
  }
  .description-healthy__paragraph {
    font-size: 10px;
    font-weight: 200;
    line-height: 14px;
    margin-top: 2px;
  }

  /*MAIN, частина our-principles--------------------------------------------------------------------MAIN, частина our-principles*/
  .main__our-principles_content { 
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 5px; 
  }
  .our-principles__title_third {
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
  }
  .our-principles__card_article {
    width: 40px;
  }
  .our-principles__card_border-img {
    height: 30px;
    margin-bottom: 2px;
  }
  .our-principles__card_img {
    width: 24px;
  }
  .our-principles__card_title {
    font-size: 8px;
    font-weight: 200;
    line-height: 14px;
  }

  /*MAIN, частина reviews--------------------------------------------------------------------MAIN, частина reviews*/
  .main__reviews_content {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .reviews_content-article {
    margin-top: 12px;
    width: 240px;
  }
  .reviews_content-article_star {
    width: 70px;
  }
  .img-star {
    width: 8px;
  }
  .reviews_content-article-text {
    font-size: 8px;
    font-weight: 200;
    line-height: 14px;
  }

  /*MAIN, частина picture2---------------------------------------------------------------------------MAIN, частина picture2*/ 
  .main__picture2 {
    background-size: cover; /*рекомендовано завжди вказувати*/ 
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .picture2__title_second {
    font-size: 20px;
    font-weight: 250;
    line-height: 20px;
  }
  .picture2__paragraph {
    font-size: 8px;
    font-weight: 250;
    line-height: 16px; 
  }

  /*FOOTER-----------------------------------------------------------------------------------------------------------------------------------------------FOOTER*/ 
  
  .footer__nav {
    width: 300px;
  }
  .footer__conditions {
    width: 500px;
    justify-content: space-around;
  }
  .footer__conditions a {
    text-decoration: none; /*прибираємо підкреслювання посилань*/ 
    font-size: 10px;
    font-weight: 300;
    line-height: 24px;
  }

}



